<div class="profile-body">
  <div class="profile-wraper">
    <div class="profile-info">
      <%- include("./layouts/info") %>
      <hr />
      <%- include("./layouts/menu") %>
    </div>
    <div class="profile-box">
      <div class="profile-details">
        <div class="profile-photo">
          <% if (user.photo) { %>
          <img class="profile-preview" src="./media/users/<%= user.photo %>" />
          <% } else { %>
          <img class="profile-preview" src="./images/avatar.png" alt="avatar" />
          <% } %>
          <h2><%= user.name %></h2>
          <p><%= user.email %></p>
        </div>
        <hr />
      </div>
    </div>
  </div>
</div>
